<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Arbitrage Opportunities</title>
</head>
<body>
    <h1>Arbitrage Opportunities</h1>
    <div id="symbol-info"></div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"></script>
    <script>
        var socket = io.connect('http://' + document.domain + ':' + location.port);

        socket.on('update_data', function(data) {
            var symbolInfoDiv = document.getElementById('symbol-info');
            symbolInfoDiv.innerHTML = "<p>" + JSON.stringify(data) + "</p>";
        });
    </script>
</body>
</html>
